beautifulsoup4==4.12.3
openai==1.3.0
gradio==4.26.0
python-dotenv==1.0.0
httpx==0.28.1
langchain
langchain-core
langchain-community
langchain-chroma
langchain-huggingface
langchain-ollama
chromadb
sentence-transformers
pydantic
pymupdf
python-dotenv
torch
transformers
accelerate